<!-- HTML Form example -->
<!-- <form action="/users" method="post" accept-charset="UTF-8">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="username">Username:</label>
    <input type="text" name="user[username]" id="username" required>

    <label for="email">Email:</label>
    <input type="email" name="user[email]" id="email" required>

    <label for="password">Password:</label>
    <input type="password" name="user[password]" id="password" required>
    
    <input type="submit" value="Submit">
</form> -->

<!-- form_tag example -->
<!-- <%= form_tag('/users') do %>
    <%= label_tag :username, 'Username:' %>
    <%= text_field_tag :username %>

    <%= label_tag :email, 'Email:' %>
    <%= email_field_tag :email %>

    <%= label_tag :password, 'Password:' %>
    <%= password_field_tag :password %>

    <%= submit_tag 'Submit' %>
<% end %> -->

<!-- form_with example -->
<%= form_with model: @user do |form| %>
    <% if @user.errors.any? %>
        <div id='error_explantion'>
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <div class="username">
        <%= form.label :username %><br>
        <%= form.text_field :username %>
    </div>
    <br>
    <div class="email">
        <%= form.label :email, 'Email:' %><br>
        <%= form.email_field :email, placeholder: 'example@example.com'%>
    </div>
    <br>
    <div class="password">
        <%= form.label :password, 'Password:' %><br>
        <%= form.password_field :password%>
    </div>
    <br>
    <%= form.submit %>
<% end %>